body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: darkslategrey;
}
.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
p{
  font-size: large;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: yellow
}
h1{
  font-size: xx-large;
  color: yellow;
}
.container {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h2{
display: center;
font-size: xx-large;
text-align: center;
color: magenta;
}
.form-input{
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 1rem;
  column-gap: 3rem;
  justify-content: center;
  align-items: center;
  margin:auto;
  display: block;
}
.u-btn{
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 1rem;
  column-gap: 3rem;
  justify-content: center;
  align-items: center;
  margin:auto;
  display: block;
}